body {
  background-color: #3e3e3e;
}
/***************************************************$$
$$$$$$$$ Navbar area style start
****************************************************$$*/
/* logo style here */

.logo {
  height: 50px;
  width: 100px;
  margin-bottom: 50px;
  border-radius: 10px;
}

/* ******************** */

.navbar {
  /* background-color: rgba(255, 217, 0, 0.349); */
  height: 90px;
  padding-bottom: 0px;
  padding-top: 65px;
  box-shadow: 0 3px 2px -2px rgb(88, 87, 87);
}

.navNumber {
  z-index: 3;
  position: relative;
  top: -40px;
  left: 0px;
  font-weight: bold;
  color: black;
  background-color: rgba(255, 255, 255, 0);
}

.nav-link {
  color: #fff !important;
  padding: 10px 20px !important;
}

.navbar-toggler {
  background-color: #fff;
  position: relative;
  top: -20px;
  font-size: 25px;
}

@media (max-width: 995px) {
  .navbar {
    padding-bottom: 50px;
    padding-top: 10px;
  }
  .logo {
    height: 50px;
    width: 100px;
    border-radius: 10px;
  }
  .nav-item {
    background-color: #3e3e3e;
    text-align: center;
    z-index: 5;
    font-weight: bold;
    border: 1px solid #fff;
  }
}
/* 
shaker bhai code */
@media only screen and (max-width: 62em) {
  .navbar-bg {
    padding: 20px 0px;
  }
}
/***************************************************$$
$$$ Navbar ended $$$ header-area style start
****************************************************$$*/
.header-area {
  /* background-image: url("https://i.imgur.com/eMHlwh3.jpg"); */
  /* background-image: url("/Ottawa-Reno.jpg"); */
  background: url("/Ottawa-Reno.jpg") 0 0 / cover;
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  /* background-position: ; */
}

.header-content-area {
  height: 100vh;
}

/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
.header-main-content {
  color: rgb(241, 141, 141);
  /* color: rgb(248, 242, 242); */
  font-size: 80px;
  text-shadow: 2px 2px #fff;
  /* font-family: "Pacifico", cursive; */
  font-family: "Architects Daughter", cursive;
  margin-top: 8vh;
}
.header-main-title {
  color: rgb(18, 20, 18);
  font-size: 30px;
  text-shadow: 2px 2px #fff;
  font-family: "Pacifico", cursive;
}

@media (max-width: 1048px) {
  .header-main-content {
    font-size: 90px;
  }
}

@media (max-width: 600px) {
  /* .header-content-area {
    height: 650px;
  } */
  .header-main-content {
    font-size: 60px;
    text-align: center;
  }
  .header-main-title {
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 380px) {
  /* .header-content-area {
    height: 350px;
  } */
  .header-main-content {
    font-size: 45px;
    text-align: center;
  }
  .header-main-title {
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width: 336px) {
  .header-main-content {
    font-size: 35px;
    text-align: center;
  }
}

/***************************************************$$
$$$ header area ended $$$ about-area style start
****************************************************$$*/

.about-area {
  height: 650px;
  background-color: #7c7c7c;
  padding: 50px 0px;
}

.about-area p {
  color: #fff;
}

@media (max-width: 767px) {
  .about-area {
    height: auto;
    text-align: center;
  }
}
/***************************************************$$
$$$ about-area ended $$$ renovations-area style start
****************************************************$$*/

.renovations-area {
  background-color: #7c7c7c;
  padding: 50px 0px;
}

.renovation-contents {
  position: relative;
  margin: 30px 0px;
}

.renovations-content-div {
  background-color: #3e3e3e;
  color: #fff;
  padding: 60px;
  position: absolute;
  top: 60px;
  right: 0px;
  border: 2px solid #fff;
}

@media (max-width: 991px) {
  .renovation-contents {
    text-align: center;
  }
  .renovations-content-div {
    position: static;
  }
}

.renovations-content-div h2 {
  font-weight: 400;
}

.renovations-content-div hr {
  height: 1px;
  background-color: #fff;
  margin: 20px 0px;
}

.renovations-content-div button {
  border: none;
  padding: 7px 20px;
  border-radius: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.renovations-content-div button:hover {
  background-color: #efba8e;
}

@media (max-width: 900px) {
  .renovations-content-div h2 {
    font-size: 23px;
  }
  .renovations-content-div hr {
    margin: 10px 0px;
  }
  .renovations-content-div button {
    margin-top: 0px;
  }
}

/***************************************************$$
$$$ renovations-area ended $$$ Contact Us-area style start
****************************************************$$*/

.contact-area {
  background-color: #7c7c7c;
}

.input-field input {
  color: #fff;
}
.input-field label {
  color: #fff;
}

/* .input-field textarea {
  color: #fff;
} */

/* label focus color */
.input-field input[type="text"]:focus + label {
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid rgb(255, 255, 255) !important;
}

.contact-submit-btn {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.205);
  color: #fff;
}

.contact-area {
  height: 650px;
}

@media (max-width: 600px) {
  .contact-area {
    height: auto;
  }
}

/* .
. 
.
.
.
.
.
.
.
.
.
.*/

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% router =  Book Online style area start %%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/***************************************************$$
$$$ renovations-area ended $$$ Contact Us-area style start
****************************************************$$*/
.bookServiceCards {
  border: 1px solid #ffff;
  background-color: #3e3e3e;
  color: #fff;
}

/* .
. 
.
.
.
.
.
.
.
.
.
.*/

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% router=  our Services style area start %%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.ourServices-area {
  background-color: #3e3e3e;
}

/* .
. 
.
.
.
.
.
.
.
.
.
.*/

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%% router=  bookings_checkout_calendar style area start %%%%%%%%%%%%%%%%%%%%%%%%*/
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.checkout_calendar_area {
  background-color: #7c7c7c;
  padding: 15px 0px;
}

.time-cards {
  padding: 7px;
  width: 100%;
  border: 1px solid rgb(168, 180, 179);
  margin: 5px 0px;
  transition: 0.4s;
  background-color: rgb(236, 229, 229);
  font-weight: bold;
}

.time-cards:hover {
  border: 1px solid rgb(100, 94, 94);
  background-color: #006edc;
  font-weight: 700;
  color: #fff;
}

.time-cards:focus {
  background-color: #006edc;
  color: #fff;
}

.time-SundayOff {
  padding: 7px;
  width: 100%;
  border: 1px solid red;
  margin: 5px 0px;
  transition: 0.4s;
  background-color: #684545;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.booking-card {
  border: 2px solid #99a166;
  padding: 20px;
  position: fixed;
  width: 300px;
  background-color: #3e3e3e;
  color: #ffffff;
}

.booking-card h4 {
  font-weight: 400;
}

.booking-card h5 {
  font-weight: 500;
  margin: 20px 0px;
}

.booking-card hr {
  height: 1px;
  background-color: #ffffff;
}

.booking-card p {
  font-size: 17px;
}

.booking-card button {
  width: 100%;
  padding: 7px 0px;
  font-weight: 900;
  background-color: #7d8260;
  color: #fff;
  border: none;
}

@media (max-width: 767px) {
  .checkout_calendar_area {
    height: auto;
  }
  .booking-card {
    position: static;
    width: auto;
    text-align: center;
  }
}

/* .
. 
.
.
.
.
.
.
.
.
.
.*/

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%% router=  bookings_checkout_form style area start %%%%%%%%%%%%%%%%%%%%%%%%*/
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.checkout-form-area {
  background-color: #7c7c7c;
}

/* .form-control:focus {
  background-color: #686767;
} */

/*BOOKING_Checkout_form style here */
/* .booking-checkout-form {
  box-shadow: 5px 5px 10px;
  margin-top: 20px;
} */

/* .
. 
.
.
.
.
.
.
.
.
.
.*/

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%% router=  footer style area start %%%%%%%%%%%%%%%%%%%%%%%%*/
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
footer {
  background-color: #3e3e3e;
  padding: 40px 0px;
}

.facebook {
  height: 30px;
  width: 30px;
}
